<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sodingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D1B4D9A1F08B457006CDA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1B4DB11F08B457006CDA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1B4DBC1F08B457006CDA3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
